{% extends 'base.html.twig' %}

{% block content_id 'content' %}

{% block content %}
    <a href="{{ path('homepage') }}">{{ 'home'|trans }}</a> > <a href="{{ path('game_failed') }}">{{ 'game_loose'|trans }}</a>
    <hr />

    <h2>{{ 'game.title.failed'|trans }}</h2>
    <p>
        {{ 'game.message.failed'|trans({'%word%': word})|raw }}
    </p>
    <p>
        <a href="{{ path('game_index') }}" class="btn btn-default">{{ 'game.play_again'|trans }}</a>
    </p>
{% endblock %}

