{% extends 'base.html.twig' %}

{% block content_id 'game' %}

{% block content %}
    <a href="{{ path('homepage') }}">{{ 'home'|trans }}</a>
    <hr />
    <h2>{{ 'game.guess_word'|trans }}</h2>

    <p class="attempts">
        {{ 'game.attempts'|transchoice(game.remainingAttempts, {'%count%': game.remainingAttempts}) }}
    </p>

    <ul class="word-letters">
        {% for letter in game.wordLetters %}
            <li {% if not game.letterFound(letter) %}class="not-guessed"{% endif %}>
                {{ game.letterFound(letter) ? letter : '?' }}
            </li>
        {% endfor %}
    </ul>

    <p class="attempts">
        <a href="{{ path('game_reset') }}">{{ 'game.reset'|trans }}</a>
    </p>

    <br class="clearfix" />

    <h2>{{ 'game.try_letter'|trans }}</h2>

    <ul>
        {% for letter in 'A'..'Z' %}
            <li class="letter btn">
                <a href="{{ path('game_try_letter', {letter: letter}) }}">
                    {{ letter }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>{{ 'game.try_word'|trans }}</h2>

    <form action="{{ path('game_try_word') }}" method="post" class="form-inline">
        <div class="form-group">
            <input name="word" class="form-control mb-2" placeholder="{{ 'game.word'|trans }}"/>
        </div>
        <button>{{ 'game.try_word.button'|trans }}</button>
    </form>
{% endblock %}

