<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Hangman Game{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="container">
                <header class="row">
                    <div class="col-md-4">
                        <div id="logo">
                            <h1>
                                <a href="{{ path('homepage') }}">{{ 'title'|trans }}</a>
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <ul class="text-right">
                            <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({_locale: 'fr'})) }}">Francais</a></li>
                            <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({_locale: 'en'})) }}">English</a></li>
                        </ul>
                        <nav>
                            <ul>
                                <li>
                                    <a href="{{ path('game_index') }}">{{ 'menu.game'|trans }}</a>
                                </li>
                                {% if app.user %}
                                    <li>
                                        <a href="{{ logout_path() }}">{{ 'menu.logout'|trans }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('user_login') }}">{{ 'menu.login'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('user_register') }}">{{ 'menu.register'|trans }}</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('contact') }}">{{ 'menu.contact_us'|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('user_list') }}">Users</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </header>
                <div class="row">
                    <div class="col-md-8">
                        <div id="{% block content_id %}{% endblock %}" class="box">

                            {% for type, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type }}" role="alert">
                                        {{ message|trans }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            {% block content %}{% endblock %}
                        </div>
                        <div class="box">
                            <div id="testimonials">
                                <h2>{{ 'testimonial'|trans }}</h2>
                                <ul>
                                    <li><strong>John Doe</strong> "I love this game, so addictive!"</li>
                                    <li><strong>Martin Durand</strong> "Best web application ever"</li>
                                    <li><strong>Paula Smith</strong> "Awesomeness!"</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div id="sidebar">
                            <div class="box">
                                <h3>{{ 'side_bar.last_game'|trans }}</h3>
                                <div class="date-list">
                                    <ul class="list date-list">
                                        <li class="first"><span class="date">Jan 13</span> <a href="#">Ultrices quisque molestie</a></li>
                                        <li><span class="date">Jan 7</span> <a href="#">Neque dolor eget</a></li>
                                        <li><span class="date">Jan 1</span> <a href="#">Sollicitudin interdum</a></li>
                                        <li class="last"><span class="date">Dec 26</span> <a href="#">Varius dignissim</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="box">
                                <h3>{{ 'side_bar.last_players'|trans }}</h3>
                                <ul>
                                    <li>user 1</li>
                                    <li>user 2</li>
                                    <li>user 3</li>
                                    <li>user 4</li>
                                    <li>user 5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
