{% extends 'base.html.twig' %}

{% block content %}
    {% if error %}
        <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
    {% endif %}
    <br>
    <form method="post">
        <label for="login">Login</label>
        <input id="login" name="_username" type="text" {% if last_login %}value="{{ last_login }}"{% endif %}>
        <br>
        <label for="pass">Password</label>
        <input id="pass" name="_password" type="password">
        <br>
        <input type="submit" value="Login">
    </form>
{% endblock %}
